/* Nav Styles */

.nav-bar {
    background-color: var(--UcrBlue);
    grid-area: navbar;
    max-width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media all and (max-width:950px) {
    .nav-bar {
        display: none;
    }
}

@media all and (max-height:692px) {
    .nav-bar {
        display: none;
    }
}

.nav-comp {
    display: flex;
    flex-direction: column;
    color: var(--White);
    /* border-bottom: solid #E1E1E1 5px; */
    height: fill;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.nav-comp:hover {
    background-color: var(--BlueHover);
    border-top: solid var(--UcrGold);
    border-bottom: solid var(--UcrGold);
    cursor: pointer;
}

.nav-comp h3 {
    margin: 0;
    margin-top: 5px;
}