.popout {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .2);
}

.popout-content {
    background: #fff;
    width: 80%;
    height: 80%;
}

@media all and (max-width: 768px) {
    .popout-content {
        width: 95%;
        height: 85%;
    }
}

.popout-header {
    display: block;
    justify-content: center;
    align-items: center;
    background-color: var(--UcrBlue);
    margin: 0;
    height: 50px;
    width: 100%;
}

.popout-name {
    color: #fff;
    margin: 0;
    height: 100%;
    font-size: 20px;
    display: inline-flex;
    align-items: center;
    /* margin left used to center */
    margin-left: 40px;
}

.close-popout {
    background-color: var(--UcrGold);
    width: 28px;
    height: 28px;
    font-size: 12px;
    font-weight: 600;
    padding: 0;
    border-radius: 10px;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

.close-popout:hover {
    background-color: var(--GoldHover);
}

.availability-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
}

.availability-inputs {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}

.availability-inputs input {
    width: 120px;
    padding: 6px;
    padding-left: 10px;
    border-radius: 15px;
    background-color: rgba(202, 202, 202, 0.5);
    border: none;
    color: rgb(146, 146, 146);
}

.form-header {
    text-decoration: underline;
}

.form-btn {
    background-color: var(--UcrGold);
    padding: 5px 10px;
    border-radius: 15px;
    margin-top: auto;
    font-weight: 600;
}

.form-btn:hover {
    background-color: var(--GoldHover);

}