.professor-room-card-element{
    min-width: 200px;
    top: 0px;
    margin: 10px 20px;
    align-content: top;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.professor-room-card-element-color{
    background-color: #18ACFF;
    min-height: 150px;
}

.room-card-element-location { /* reusing styling from roomcard */
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

.room-card-element-seats {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    text-align: right;
    float: right;
}

.room-card-element-text {
    display: flex;
    justify-content: space-around;
    width: 200px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
}