.room-card{
    max-width: 250px;
    background-color: aqua;
    outline: auto;
    /* max-height:max-content; */
    max-height: 150px;
    margin-left: 20px;
    top: 0px;
    margin-bottom: 20px;
    align-content: top;
    padding-bottom: 0%;
    /* position:absolute; */
    /* top: -200ox; */
    /* border-top: -200px; */
    /* align-self: flex-start; */

}

.room-card-color{
    background-color: yellow;
    min-height: 150px;
    outline: auto;
    /* margin-left: 20px; */
}

.room-card-text{
    background-color: white;
    /* margin-left: 20px; */
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    outline: auto;
}