.room-card-element {
    min-width: 200px;
    top: 0px;
    margin: 10px 20px;
    align-content: top;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.room-card-element:hover {
    cursor: pointer;
}

.room-card-element-color {
    background-color: #18ACFF;
    min-height: 150px;
}

.room-card-element-location {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

.room-card-element-seats {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    text-align: right;
    float: right;
}

.room-card-element-text {
    display: flex;
    min-width: 200px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
}

.room-actions-btn {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    font-size: 34px;
    color: #FFF;
    background-color: transparent;
}

.room-actions:hover {
    color: #e6e6e6;
}

.admin-room-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    float: right;
    margin-top: 20px;
    z-index: 1;
    width: 80%;
    height: 50px;
    background-color: #fff;
    box-shadow: #000 5px 5px 15px;
}

.admin-room-actions:hover {
    cursor: default;
}

.remove-room-btn {
    color: #fff;
    background-color: #ff0000;
    width: 80%;
    height: 25px;
    border-radius: 25px;
}

.remove-room-btn:hover {
    background-color: #e60202;
}