@import url(./card.css);
@import url(./navBar.css);
@import url(./login.css);
@import url(./header.css);

:root {
    --UcrBlue: #003DA5;
    --BlueHover: #02348a;
    --UcrGold: #FFB718;
    --GoldHover: #eba817;
    --White: #FFF;
}

body {
    margin: 0;

}

button {
    border: none;
}

button:hover {
    cursor: pointer;
}

/* admin home page setup */

.admin-home {
    display: grid;
    grid-template-columns: 270px 3fr;
    grid-template-rows: .1fr 1fr 1fr;
    grid-template-areas:
        "header header"
        "navbar card"
        "navbar card";
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}


.corner {
    position: fixed;
    bottom: -5px;
    width: 50%;
    right: -13%;
    z-index: -2;
}

.corner img {
    width: 75%;
    height: auto;
}