@import url(./card.css);
@import url(./navBar.css);
@import url(./login.css);

:root {
    --UcrBlue: #003DA5;
    --BlueHover: #02348a ;
    --UcrGold: #FFB718;
    --GoldHover: #eba817;
    --White: #FFF;
}

body {
    margin: 0;

}

button {
    border: none;
}

button:hover {
    cursor: pointer;
}

/* admin home page setup */

.admin-home {
    display: grid;
    grid-template-columns: 270px 3fr;
    grid-template-rows: .1fr 1fr 1fr;
    grid-template-areas: 
    "header header"
    "navbar card"
    "navbar card";
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* Temp style for header */
header {
    grid-area: header;
    background-color: #003DA5;
    border-bottom: solid #FFB718 4px;
    color: var(--White);
}


